@import "../../palette.scss";
@import "../../font.format.scss";
.select{
  margin-top: 47rpx;
  .title{
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 36rpx;
    line-height: 27rpx;
    color: #606368;
  }
  .items{
    display: flex;
    margin-top: 33rpx;
    justify-content: left;
.radio{
margin-right: 30rpx;
}
  }
}

.feedback{
  position: relative;
  width: 670rpx;
  height: 500rpx;
  margin-top: 25rpx;
  background: $argus-white;
  border: 2rpx solid $argus-gray;
  box-sizing: border-box;
  border-radius: 8px;

  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    >textarea{
      margin-top: 23rpx;
      letter-spacing: 4rpx;
      height: 400rpx;
      color: $argus-black-light;
      width: 98%;
      font-family: $font-PingFang;
      font-size: $font-size-ms;
      line-height: $font-lineHeight-ms;
    }
  }
  .count{
    position: absolute;
    bottom: 30rpx;
    right:10rpx;
  }
}

.thumbnail{
  margin-top: 13rpx;
  width: 670rpx;
  height: 161rpx;
  display: flex;
  .itmes{

   .imgItems{
   // display: inline-block;
     display: none;
   }
    .input{
      display: inline-block;
      .inputImage{
        margin-right: unset;
      }
    }
  }
  .text{
    margin-left: 25rpx;
    font-family: $font-PingFang;
    font-size: $font-size-ms;
    line-height: $font-lineHeight-ms;
    color: $argus-black-light;
    view{
      color: red;
      display: inline-block;
    }
  }
}

.phone{
  background-color: $argus-white;
  margin-top: 30rpx;
  width: 660rpx;
  height: 88rpx;
.input{
  width: 650rpx;
  height: 88rpx;
  margin-left: 10rpx;
}
}

.btns{
  margin-top: 30rpx;
  display: flex;
  justify-content: center;
  button{
    margin-right: 20rpx;
  }
}

.inputImage{
  width: 161rpx;
  height: 161rpx;
  margin-right: 10rpx;
}
