.input {
  min-height: 60rpx;
  background: #FFFFFF;
  border: 2rpx solid #E1E3E5;
  box-sizing: border-box;
  border-radius: 8rpx;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 27rpx;
}
