@import "../../palette.scss";

.argus-button {
  padding: 20rpx 32rpx;
  background-color: $argus-brown;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 28rpx;
  line-height: 42rpx;
  color: white;
  text-align: center;
  min-width: 240rpx;

}

.argus-button-light {
  background: #FFFFFF;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 36rpx;
  line-height: 27rpx;
  text-align: center;
  color: #B0865B;
  border: 1rpx solid #F3F2F1;
  box-sizing: border-box;
  box-shadow: 0 8rpx 16rpx rgba(143, 88, 31, 0.15);
  border-radius: 36rpx;
  height: 72rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  image {
    width: 100%;
  }

}
