.selector {
  min-height: 60rpx;
  background: #FFFFFF;
  border: 2rpx solid #E1E3E5;
  box-sizing: border-box;
  border-radius: 8rpx;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;

  padding: 15rpx;
  white-space: nowrap;

  image {
    width: 20rpx;
    height: 15rpx;
  }


}
