.selector {
  height: 60rpx;
  background: #FFFFFF;
  border: 2rpx solid #E1E3E5;
  box-sizing: border-box;
  border-radius: 8rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15rpx;

  image {
    width: 20rpx;
    height: 15rpx;

  }


}
