.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .video {
        width: 100%;
        flex-basis: 420rpx;
        flex-shrink: 0;
        overflow: hidden;
    }

    .text {
        background-image: url('../../../assets/page_line.svg');
        flex-grow: 1;
        margin: 20rpx;
        .block {
            margin-top: 10rpx;
            height: fit-content;
        }
        .editor {
            border: 1 solid black;
        }
        overflow: scroll;
        overflow-x: none;
        width: calc(100% - 40rpx);
    }

    .submit {
        margin-top: 10rpx;
    }
}
