@import "../../../palette.scss";

.cardRoot {
  width: 670rpx;
  min-height: 320rpx;
  background: #FFFFFF;
  margin-top: 40rpx;

  border: 1px solid #E1E3E5;
  box-sizing: border-box;

  box-shadow: 0px 4px 10px rgba(143, 88, 31, 0.1);
  border-radius: 20px;
}

.process {
  padding: 20rpx;

  .Tags {
    margin-bottom: 20rpx;
    height: 36rpx;
    width: 88rpx;
    border-radius: 8rpx;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $argus-brown;
    background-color: $argus-brown-light;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Header {
    font-size: 28rpx;
    line-height: 42rpx;
    corlor: #1c1c1c;
  }

  .Img {
    display: flex;
    justify-content: flex-end;
    margin-top: 20rpx;
    height: 128.1rpx;

    image {
      width: 152rpx;
      height: 161.1rpx;
      display: relative;
      top: 33rpx;
    }
  }

  .Progress {
    .text {
      font-size: 22px;
      line-height: 33px;
      color: #606368;
    }

  }


}
