.compModal {

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 50;
  }

  .content {
    .closeX {
      position: absolute;
      top: 30rpx;
      right: 40rpx;

      image {
        width: 44rpx;
        height: 44rpx;
      }
    }

    position: absolute;
    left: 60rpx;
    top: 232rpx;
    width: 538rpx;
    border-radius: 32px;
    background-color: white;
    padding: 70rpx 46rpx;
    min-height: 100rpx;
    z-index: 100;

    .title {
      text-align: center;
      height: 42rpx;
      margin-bottom: 48rpx;
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 500;
      font-size: 36rpx;
      line-height: 27rpx;
      /* or 75% */
      text-align: center;
    }


    .control {
      margin-top: 48rpx;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }




}
