@import "../../palette.scss";

.mainLayout {
  width: 670rpx;
  height: 100vh;
  padding: 40rpx;
  background-color: #E5E5E5;

  .title {
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 40rpx;
    line-height: 27rpx;
    color: $argus-brown;
    margin-bottom: 40rpx;
  }


  .navBar {
    position: sticky;
  }


}

.texture {
  background: url(../../../assets/texture.png), #FFFFFF;
}
