@import "../../palette.scss";

.uploadLayout {
  background: url(../../../assets/texture.png), #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  position: absolute;


  .bg1 {
    position: fixed;
    color: #E2D7C6;
    left: -100.5rpx;
    top: 312.41rpx;
    width: 339rpx;
    height: 342rpx;
    z-index: 0;
  }

  .bg2 {
    position: fixed;
    width: 339rpx;
    height: 342rpx;
    bottom: 150.15rpx;
    right: -54rpx;
    color: #E2D7C6;
    z-index: 0;
  }

  .content {
    margin-top: 20rpx;
    border-radius: 16px;
    background-color: #FFFFFF;
    width: 670rpx;
    height: 1170rpx;
    z-index: 10;
    position: absolute;

    .top {
      display: flex;
      margin-bottom: 24rpx;
      margin-top: 16rpx;
      margin-right: 20rpx;
      justify-content: flex-end;
    }
  }


}
